---
import Layout from '../layouts/Layout.astro';
import CTA from '../components/CTA.astro';
---

<Layout
  title="Green Orbit Academy"
  description="Empowering the next generation of sustainable space leaders through expert-led training, practical tools, and interdisciplinary learning."
>
  <main class="main index-page">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Webinars</h1>
              <p class="mb-0">
                Our training series provides immersive, high-impact learning experiences designed to help teams communicate science clearly, innovate with confidence, and build strategic alignment. Delivered by Green Orbit Academy, each training blends practical exercises, expert facilitation, and real-world challenges to accelerate capability building across organisations.
              </p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="/">Home</a></li>
            <li class="current">Webinars</li>
          </ol>
        </div>
      </nav>
    </div>

    <!-- Webinar Section -->
    <section id="Webinars" class="webinars section">
      <div class="container">
        <p>webinar</p>
      </div>
    </section>
    <CTA/>
    </main>
</Layout> 