---
---
    <!-- Hero Section -->
    <section id="hero" class="hero section bg-light">

      <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

      <div class="container">
        <h2 data-aos="fade-up" data-aos-delay="100">Learning Today,<br>Leading the Space Sector Tomorrow</h2>
        <p data-aos="fade-up" data-aos-delay="200">Empowering the next generation of sustainable space leaders through expert-led training, practical tools, and interdisciplinary learning.</p>
        <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
          <a href="courses.html" class="btn-get-started">Get Started</a>
        </div>
      </div>

    </section><!-- /Hero Section -->